[project]
	description = Dockerfile for ARTIK development environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Inho Oh (webispy)
[access "refs/for/refs/*"]
	read = group user/Inho Oh (webispy)
	push = group user/Inho Oh (webispy)
	label-Code-Review = -2..+2 group user/Inho Oh (webispy)
	label-Verified = -1..+1 group user/Inho Oh (webispy)
	rebase = group user/Inho Oh (webispy)
	removeReviewer = group user/Inho Oh (webispy)
	submit = group user/Inho Oh (webispy)
[access "refs/heads/*"]
	read = group user/Inho Oh (webispy)
	create = group user/Inho Oh (webispy)
	push = +force group user/Inho Oh (webispy)
	pushMerge = group user/Inho Oh (webispy)
[access "refs/tags/*"]
	push = group user/Inho Oh (webispy)
	push = +force group user/Inho Oh (webispy)
